div.Filter-Container {
    text-align: right;
    cursor: default;
    transition: background-color 0.25s;
    outline: none;
    overflow: hidden;
    /* margin-left: 5rem; */
    /* display: flex; */
        flex: 1 1 auto;
        display: inline-flex;  
    align-items: center;
    height: 100%;
}


form{
    display: flex;
}

.ant-form{
    padding-top: 1.5rem;
}

.ant-form .ant-form-item{
    padding: 0px 6px;
}

.ant-form .ant-form-item .ant-row .ant-col label{
    font-style: normal;
    font-weight: 600;
}

.ant-form .ant-form-item .ant-row .ant-col .ant-form-item-control-input  .ant-form-item-control-input-content .ant-input-group .ant-input{
    border-radius: 0px 6px 6px 0px !important;
    height: 2.3em;
    text-align: left;
    border: 1px solid #d9d9d9;
}

.ant-form .ant-form-item .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content .ant-btn{
    color: rgb(35 42 56 / 1);
    font-weight: 500;
    background-color: rgb(222 161 9 / 1);
    align-items: center;
}

.ant-form .ant-form-item .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content .ant-select .ant-select-selector{
    width: 120px;
    text-align: left;
}
/* .ant-form-horizontal
 */

 .ant-form .ant-form-item .ant-row .ant-col .ant-form-item-control-input  .ant-form-item-control-input-content input{
    /* input search field */
    height: 2.3em;
    border: 1px solid #d9d9d9;
} 

.ant-form .ant-form-item .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content input:hover  {
    border-color: #4096ff !important; /* input search field: Change to the hover color */
}

.ant-form .ant-form-item .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content .ant-picker-outlined .ant-picker-input input{
    border: none;
    height: 2em;
    padding: 0.2em;
}

.ant-form .ant-form-item .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content .ant-input-group-compact
{
    width: 80%;
}

.date-picker-custom{
    padding: 0.15em 0.4em;
    /* width: 3em; */
    width: 200px;
}

.ant-btn {
    padding: 16px 6px;
}

div.Filter-Container.appmenu-visible {
    background-color: var(--app-submenu-bg-color-hover);
    color: var(--app-submenu-text-color-hover);
    overflow: visible;
}

div.Filter-Container .appmenu-label {
    font-weight: bold;
    transition: color 0.25s;
}

div.Filter-Container .appmenu-icon {
    color: var(--app-menu-text-color);
    padding: 0.25em;
    margin: 0 1em;
    border: 2px solid var(--app-menu-text-color);
    transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}

div.Filter-Container.appmenu-visible .appmenu-icon {
    color: var(--app-submenu-text-color-hover);
    border-color: var(--app-submenu-text-color-hover);
    background-color: inherit;
}

div.Filter-Container.appmenu-blocked {
    cursor: not-allowed;
}

div.Filter-Container div.appmenu-menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    /* right: 0; */
    box-shadow: 0px 2px 4px rgba(136, 136, 136, 0.5);
    width: 20em;
    max-width: 100vw;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.25s, opacity 0.25s;
    overflow-y: auto;
    max-height: calc(100vh - var(--topbar-height) - var(--bottombar-height));
    max-height: calc(var(--vh, 1vh) * 100 - var(--topbar-height) - var(--bottombar-height));
}

div.Filter-Container.appmenu-compact div.appmenu-menu-container {
    right: -11.25em;
    width: 15em;
    height: calc(100vh - 5.5em);
    transition: transform 0.25s, opacity 0.25s, right 0.5s;
    background: var(--app-menu-bg-color);
    box-shadow: 0px 0px 4px rgba(136, 136, 136, 0.5);
    top: 3.5em;
}

div.Filter-Container.appmenu-compact div.appmenu-menu-container:hover {
    right: 0;
}

div.Filter-Container ul.appmenu-menu {
    text-align: left;
    padding: 0;
    background-color: var(--app-menu-bg-color);
}

div.Filter-Container.appmenu-visible div.appmenu-menu-container {
    transform: scaleY(1);
    opacity: 1;
}

div.Filter-Container ul.appmenu-menu li {
    color: var(--app-menu-text-color);
    list-style-type: none;
    margin: 0;
    font-size: small;
    font-weight: bold;
}

div.Filter-Container ul.appmenu-menu li:not(:last-child) {
    border-bottom: 1px solid var(--app-menu-text-color);
}

div.Filter-Container ul.appmenu-menu > li.appmenu-leaf-active,
div.Filter-Container ul.appmenu-menu > li.appmenu-submenu-active,
div.Filter-Container ul.appmenu-menu > li.appmenu-submenu-expanded {
    background-color: var(--app-menu-bg-color-hover);
    color: var(--app-menu-text-color-hover);
}

div.Filter-Container ul.appmenu-menu li > .icon {
    vertical-align: middle;
    width: 2em;
    margin: 0.5em 1em 0.5em 1em;
}

div.AppMenu ul.appmenu-menu li.appmenu-submenu > ul {
    background-color: var(--app-submenu-bg-color);
    padding: 0;
    display: none;
}

div.AppMenu ul.appmenu-menu li.appmenu-submenu-expanded > ul {
    display: block;
}

div.AppMenu ul.appmenu-menu li.appmenu-submenu > ul > li {
    color: var(--app-submenu-text-color);
}

div.AppMenu ul.appmenu-menu li.appmenu-submenu > ul > li.appmenu-leaf-active,
div.AppMenu ul.appmenu-menu li.appmenu-submenu > ul > li.appmenu-submenu-active,
div.AppMenu ul.appmenu-menu li.appmenu-submenu > ul > li.appmenu-submenu-expanded {
    background-color: var(--app-submenu-bg-color-hover);
    color: var(--app-submenu-text-color-hover);
}

div.AppMenu ul.appmenu-menu li.appmenu-leaf {
    display: flex;
    align-items: center;
}

div.AppMenu ul.appmenu-menu li.appmenu-leaf > span.icon {
    flex: 0 0 auto;
}

div.AppMenu ul.appmenu-menu li.appmenu-leaf > span.appmenu-leaf-label {
    flex: 1 1 auto;
    margin: 0.25em 0;
}

div.AppMenu ul.appmenu-menu li.appmenu-leaf div.appmenu-leaf-comment {
    font-weight: normal;
    font-size: 90%;
}

div.appmenu-filter {
    width: 100%;
    margin-right: 0.5em;
}
